.section-title {
    margin: 5px 15px 5px;
    color: $indigo;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.catergory-container{
    padding-top: 15px;
    padding-bottom: 15px;
}
