.section-title {
    margin: 5px 15px 5px;
    color: $indigo;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.catergory-container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.gm58-header{
    background-image: linear-gradient(#6CB2EB 3.36%, #6CB2EB 19.33%, #6CB2EB 67.23%, transparent 100%, transparent);

}
