#app {
    // position: relative;
    // min-height: 100vh;
  }
 .is-mobile-btn{

      @media only screen and (max-width: 600px) {
        display: block;
        width: 100%;
        color: #fff;
      }
      @media only screen and (min-width: 600px){
        display: block;
        width: 100%;
        color: #fff;
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px){
        color: #fff;
        display: block;
        width: 40%;
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 1200px){
        color: #fff;
        display: block;
        width: 40%;
      }
           
    
 }