#app {
    position: relative;
    min-height: 100vh;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  
  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .zoom-enter-active,
  .zoom-leave-active {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: zoom;
  }
  
  .zoom-leave-active {
    animation-direction: reverse;
  }
  
  @keyframes zoom {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    100% {
      opacity: 1;
    }
  }

 .is-mobile-btn{

      @media only screen and (max-width: 600px) {
        display: block;
        width: 100%;
        color: #fff;
      }
      @media only screen and (min-width: 600px){
        display: block;
        width: 100%;
        color: #fff;
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px){
        color: #fff;
        display: block;
        width: 40%;
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 1200px){
        color: #fff;
        display: block;
        width: 40%;
      }
           
    
 }