.search-element{
    @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
    }
    @media (min-width: 1200px){
        width: 60%;
    }
   

}
.inner-search-element{
    width: 100%;

}
.search-nav-element{
    width: 100%;

}
