.gm58-caption{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%) !important;

}
@media (min-width: 1200px){
    .carousel-caption  {
        position: absolute;
        top: 46%;
        left: 50%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
            -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
            -o-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
    }
    .carousel-caption  h2 {
        font-size: 4em;    
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 959px){
    .carousel-caption  {
        display: block !important;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
            -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
            -o-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
    }
    .carousel-caption  h2 {
        font-size: 1.2em;    
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .carousel-caption  h3 {
        display: none;
    }
}
.gm58-carousel-inner{
    width:100%;
    max-height: 200px !important;
    /* Smaller than standard 960 (devices and browsers) */
      @media only screen and (max-width: 959px) {
        max-height: 100% !important;
      }
  
      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {}
  
      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {}
  
      /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      @media only screen and (min-width: 480px) and (max-width: 767px) {}
  
      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {}
      @media (min-width: 1200px){
        max-height: 75% !important;

    }
}
    .gm58-slider-item{
        @media screen and (min-width: 880px){
            width: 160px;
        }
        @media (min-width: 1200px){
            width: 300px;
            left: 35;
        }
    }
    .card-img-top{
        max-height: 9rem;
    }
    .gm58-slider-card{
        @media screen and (min-width: 880px){
            width: 10rem;
        }
        @media (min-width: 1200px){
            width: 18rem;
        }
    }
  
